/*******************************
STOCK PRICE
*******************************/

body { font: 12px Arial;}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.svg-stock, .svg-chart {
  margin-left: -35px;
}


.stock-table {
  width: 900px;
  tr {
    line-height: 3em;
    background: #eee;
    margin-bottom: 1px;
  }
  tr>th {
    background:#000000;
    color:#ffffff;    
    padding-left: 20px;
  }
  tr .data {
    padding-left: 20px;
    &:nth-child(3) {
      color: #ff0000;
    }
    &:nth-child(4) {
      color: #ff0000;
    }
    &:nth-child(8) {
      color: #0000cc;
    }
  }

}